@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
h1, h2, h3 {
  font-family: 'Bungee', sans-serif;
}

main {
  flex: 1;
}

header {
  background: #003366;
  color: white;
  padding: 10px;
  text-align:center;
}

.nav {
  font-family: 'Bungee', sans-serif;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  
}

.nav li {
  margin:0 10px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: yellow;
}

.content {
  float: left;
  
  text-align: center;
  width: 40%;
  padding: 10px;
}

.sidebar {
  text-align: center;
  float: right;
  width: 40%;
  
  padding: 10px;
  min-height: 200px
}

.clear {
  clear: both;
}

@media (max-width: 768px) {
  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .nav {
    flex-direction: column;
  }
}

.main-title { 
  text-align: center;
  background-color:aquamarine;
   padding: 15px;
margin: 0;
}

.hero {
margin: 10px;
text-align: center;
font-family: 'Bungee', sans-serif;
font-weight: 500;
font-size: 1.5rem;
}

footer {
  margin-top: 20px;   
  padding: 15px;      
  text-align: center;
  background: #003366;
  color:aliceblue;
}
.historyTitle {
  text-align: center;
  padding: 15px;
  margin: 0;
}

.contactTitle {
  text-align: center;
  padding: 15px;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  padding: 1.5rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  height: 40%;
  width: 30%;
}

.famousPortsTitle {
  text-align: center;
  padding: 15px;
  margin: 0;

}
.famousports {
  text-align: center;
  max-width: 40%;
  margin: 0 auto; 
  margin-bottom: 20px;
}
.famousports img {
  max-width: 100%;
  height: auto;
}

.attribution {
  font-size: 0.7rem;
  color:gray
}

.historyPorts {
  text-align: center;
  padding: 15px;
  margin: 0;
}
.historyPorts img {
  display: block;
  margin: 0 auto; 
  max-width: 100%;
  height: auto;
}

.typesPorts {
  text-align: center;
  padding: 15px;
  margin: 0;
}

.typesPorts ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.gif-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}
.extra-factgif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  height: auto;
  margin: 0 auto;
}

.extrainfo {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 15px;
  margin: 0;
}

.sidebar ul {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  padding-left: 20px;
}
.sidebar h3 {
  text-align: center;
  padding: 15px;
  margin: 0;  
}
.PortTypes {
  font-family: 'Bungee', sans-serif;
  padding: 15px;
  margin: 0;
}
.Typestext {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  margin: 0;
}
.typesPorts li img {
  display: block;
  margin: 0 auto; 
  max-width: 100%;
  height: auto;
}
.tradeTitle {
  font-family: 'Bungee', sans-serif;
  text-align: center;
  padding: 15px;
  margin: 0;
}
.tradetext {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 15px;
  margin: 0;
}
.routesImage {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  text-align: center;
}
.gallerytitle {
  font-family: 'Bungee', sans-serif;
  text-align: center;
  padding: 15px;
  margin: 0;
}

.gallerytext {
  font-family: 'Bungee', sans-serif;
  text-align: center;
  padding: 15px;
  margin: 0;
}
.gallerycontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
}
.gallerycontainer a {
  width: 45%;
}
.gallerycontainer img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}